// ## Colors
// ### Primary

// - Soft red:
$sf-red: hsl(7, 99%, 70%);

// - Yellow:
$yellow: hsl(51, 100%, 49%);

// - Dark desaturated cyan (graphic design text):
$dd-cyan: hsl(167, 40%, 24%);

// - Dark blue (photography text):
$d-blue: hsl(198, 62%, 26%);

// - Dark moderate cyan (footer):
$dm-cyan: hsl(168, 34%, 41%);

// ### Neutral

// - Very dark desaturated blue:
$vdd-blue: hsl(212, 27%, 19%);

// - Very dark grayish blue:
$vdg-blue: hsl(213, 9%, 39%);

// - Dark grayish blue:
$dg-blue: hsl(232, 10%, 55%);

// - Grayish blue:
$g-blue: hsl(210, 4%, 67%);

// - White:
$white: hsl(0, 0%, 100%);

// ## Fonts

// - Family: [Barlow](https://fonts.google.com/specimen/Barlow)
// - Weights: 600
// - Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
// - Weights: 700, 900

@font-face {
    font-family: Barlow SemiBold;
    src: url(fonts/Barlow-SemiBold.ttf);
}
@font-face {
    font-family: Barlow Bold;
    src: url(fonts/Barlow-Bold.ttf);
}

@font-face {
    font-family: Fraunces Bold;
    src: url(fonts/Fraunces_72pt_Soft-Black.ttf);
}

html {
    width: 100vw;
}

body {
    font-family: Barlow SemiBold, sans-serif;
    width: 100vw;
    text-align: center;
    margin: 0;
}

img {
    width: 100vw;
}

.orange {
    width: 100vw;
    background-image: url(images/mobile/image-header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 140vw;
    padding: 35px 25px 0;
    box-sizing: border-box;

    .top-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #sunnyside-logo {
            width: 35%;
        }

        #menu-img {
            width: 7%;
        }
    }

    .menu-div {
        position: absolute;
        left: 50%;
        width: 50vw;
        display: block;

        .menu {
            position: relative;
            left: -42.5vw;
            top: 15vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: $white;
            width: 85vw;
            padding: 5vw 0;

            p {
                margin: 4vw;
            }

            .contact {
                margin: 4vw;
                background-color: $yellow;
                font-family: Fraunces Bold, serif;
                font-size: 4vw;
                text-transform: uppercase;
                color: black;
                padding: 5vw;
                width: 30vw;
                border-radius: 7.5vw;
            }
        }
    }

    .menu:after {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 12vw solid white;
        border-left: 12vw solid transparent;
        position: absolute;
        bottom: 75vw;
        left: 73vw;
    }

    h1 {
        font-family: Fraunces Bold, serif;
        color: $white;
        font-weight: 900;
        font-size: 11vw;
        text-transform: uppercase;
        padding: 50px 0 28px;
        letter-spacing: 8px;
    }

    #arrow-down {
        width: 35px;
    }
}

.transform {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    #egg {
        width: 100vw;
    }
}

h2 {
    font-family: Fraunces Bold, serif;
    color: $vdd-blue;
    font-size: 8.5vw;
    margin: 0;
    padding: 50px 15% 30px;
}

p {
    margin: 0;
    padding: 0 7%;
    font-size: 4.8vw;
    color: $g-blue;
    line-height: 7.6vw;
}

h3 {
    font-family: Fraunces Bold, serif;
    color: $vdd-blue;
    text-transform: uppercase;
    font-size: 4vw;
    letter-spacing: 0.2vw;
    margin: 40px 40px 60px;
}

.underline {
    height: 2.5vw;
    opacity: 0.3;
    width: 33vw;
    position: relative;
    bottom: 2vw;
    border: $yellow solid 1px;
    border-radius: 1.25vw;
    z-index: -1;

    &.yellow {
        background-color: $yellow;
    }

    &.red {
        background-color: $sf-red;
    }
}

.stand-out {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphic-design {
    background-image: url(images/mobile/image-graphic-design.jpg);
    background-size: 100%;
    height: 160vw;

    h2,
    p {
        color: $dd-cyan;
    }
}

.smaller-h2 {
    padding: 105vw 0 0 0;
    font-size: 7.5vw;
}

.smaller-p {
    font-family: Barlow Bold, sans-serif;
    padding: 9vw 5%;
    font-size: 4.3vw;
    line-height: 6.5vw;
}

.photography {
    background-image: url(images/mobile/image-photography.jpg);
    background-size: 100%;
    height: 160vw;

    h2,
    p {
        color: $d-blue;
    }
}

h4 {
    font-family: Fraunces Bold;
    text-transform: uppercase;
    color: $g-blue;
    font-size: 4.1vw;
    letter-spacing: 1vw;
    margin: 16vw 0 0;
}

.profile-img {
    width: 70px;
    border-radius: 35px;
    margin-top: 16vw;
}

h5 {
    font-family: Fraunces Bold, serif;
    font-size: 5vw;
    color: $vdd-blue;
    margin-bottom: 0;
}

.testimonials {
    p {
        margin: 30px 0 0 0;
        line-height: 8vw;
        color: $vdg-blue;
    }

    .profession {
        font-size: 4vw;
        color: $g-blue;
        margin-top: 5px;
    }
}

.four-imgs {
    margin: 100px 0 0;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vw 50vw;

    #milk {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #orange {
        grid-column: 2 / 3;
        grid-area: 1 / 2;
    }
    #cone {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #sugar {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    img {
        width: 50vw;
    }
}

footer {
    background-color: hsl(167, 40%, 70%);

    #green-logo {
        width: 45vw;
        margin: 50px 0;
    }

    .about {
        display: flex;
        justify-content: space-between;
        margin: 0 5vw 0;

        p {
            color: $dm-cyan;
        }
    }

    .socials {
        padding: 80px 30vw;
        display: flex;
        justify-content: space-between;

        img {
            width: 5vw;
        }
    }
}

.attribution {
    background-color: hsl(167, 40%, 70%);
    color: $dm-cyan;
    padding-bottom: 30px;

    a {
        color: #2c7566;
    }
}

@media only screen and (min-width: 769px) {
    .orange {
        width: 100vw;
        background-image: url(images/desktop/image-header.jpg);
        padding: 40px;
        height: 55.5vw;

        .desktop-header {
            display: flex;
            justify-content: space-between;

            .top-header {
                display: flex;
                justify-content: space-between;

                #sunnyside-logo {
                    width: 180px;
                }

                #menu-img {
                    display: none;
                }
            }

            .menu-div {
                position: initial;
                width: initial;
                .menu {
                    position: inherit;
                    background-color: initial;
                    display: flex;
                    flex-direction: row;
                    width: initial;
                    padding: 0;

                    p {
                        font-size: 16px;
                        color: white;
                        margin: 10px;
                        padding: 0 13px;
                        line-height: 30px;
                    }

                    .contact {
                        font-size: 16px;
                        padding: 18px 10px;
                        margin: 10px;
                        width: 130px;
                        background-color: white;
                        border-radius: 28px;
                    }
                }
            }
        }

        h1 {
            font-size: 50px;
            margin-bottom: 5vw;
        }
    }
    .menu:after {
        display: none;
    }

    .transform {
        display: flex;
        flex-direction: row-reverse;


        .transform-text {
            box-sizing: border-box;
            width: 50vw;

            grid-column: 1/2;
            grid-row: 1/2;

            text-align: left;
            padding: 70px 150px 100px 200px;

            h2 {
                padding-right: 20px;
            }
        }

        #egg {
            grid-column: 2/3;
            grid-row: 1/2;
            width: 50vw;
        }
    }

    .stand-out {
        display: grid;

        #stand-out {
            grid-column: 1/2;
            grid-row: 2/3;
            width: 50vw;
        }

        .stand-out-text {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }

    .graphic-design {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .photography {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    h2 {
        font-size: 50px;
        padding: 0;
    }

    p {
        font-size: 22px;
        line-height: 38px;
        padding: 30px 0 0 0;
    }

    h3 {
        font-size: 19px;
        letter-spacing: 2px;
        margin: 50px 0 0 10px;
    }

    .underline {
        height: 8px;
        width: 150px;
        bottom: 8px;
        right: 7px;
        border: $yellow solid 1px;
        border-radius: 4px;
    }
}
