@font-face {
  font-family: Barlow SemiBold;
  src: url(fonts/Barlow-SemiBold.ttf);
}
@font-face {
  font-family: Barlow Bold;
  src: url(fonts/Barlow-Bold.ttf);
}
@font-face {
  font-family: Fraunces Bold;
  src: url(fonts/Fraunces_72pt_Soft-Black.ttf);
}
html {
  width: 100vw;
}

body {
  font-family: Barlow SemiBold, sans-serif;
  width: 100vw;
  text-align: center;
  margin: 0;
}

img {
  width: 100vw;
}

.orange {
  width: 100vw;
  background-image: url(images/mobile/image-header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 140vw;
  padding: 35px 25px 0;
  box-sizing: border-box;
}
.orange .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orange .top-header #sunnyside-logo {
  width: 35%;
}
.orange .top-header #menu-img {
  width: 7%;
}
.orange .menu-div {
  position: absolute;
  left: 50%;
  width: 50vw;
  display: block;
}
.orange .menu-div .menu {
  position: relative;
  left: -42.5vw;
  top: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 85vw;
  padding: 5vw 0;
}
.orange .menu-div .menu p {
  margin: 4vw;
}
.orange .menu-div .menu .contact {
  margin: 4vw;
  background-color: #fad400;
  font-family: Fraunces Bold, serif;
  font-size: 4vw;
  text-transform: uppercase;
  color: black;
  padding: 5vw;
  width: 30vw;
  border-radius: 7.5vw;
}
.orange .menu:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 12vw solid white;
  border-left: 12vw solid transparent;
  position: absolute;
  bottom: 75vw;
  left: 73vw;
}
.orange h1 {
  font-family: Fraunces Bold, serif;
  color: white;
  font-weight: 900;
  font-size: 11vw;
  text-transform: uppercase;
  padding: 50px 0 28px;
  letter-spacing: 8px;
}
.orange #arrow-down {
  width: 35px;
}

.transform {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.transform #egg {
  width: 100vw;
}

h2 {
  font-family: Fraunces Bold, serif;
  color: #23303e;
  font-size: 8.5vw;
  margin: 0;
  padding: 50px 15% 30px;
}

p {
  margin: 0;
  padding: 0 7%;
  font-size: 4.8vw;
  color: #a7abae;
  line-height: 7.6vw;
}

h3 {
  font-family: Fraunces Bold, serif;
  color: #23303e;
  text-transform: uppercase;
  font-size: 4vw;
  letter-spacing: 0.2vw;
  margin: 40px 40px 60px;
}

.underline {
  height: 2.5vw;
  opacity: 0.3;
  width: 33vw;
  position: relative;
  bottom: 2vw;
  border: #fad400 solid 1px;
  border-radius: 1.25vw;
  z-index: -1;
}
.underline.yellow {
  background-color: #fad400;
}
.underline.red {
  background-color: #fe7867;
}

.stand-out {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphic-design {
  background-image: url(images/mobile/image-graphic-design.jpg);
  background-size: 100%;
  height: 160vw;
}
.graphic-design h2,
.graphic-design p {
  color: #25564b;
}

.smaller-h2 {
  padding: 105vw 0 0 0;
  font-size: 7.5vw;
}

.smaller-p {
  font-family: Barlow Bold, sans-serif;
  padding: 9vw 5%;
  font-size: 4.3vw;
  line-height: 6.5vw;
}

.photography {
  background-image: url(images/mobile/image-photography.jpg);
  background-size: 100%;
  height: 160vw;
}
.photography h2,
.photography p {
  color: #19536b;
}

h4 {
  font-family: Fraunces Bold;
  text-transform: uppercase;
  color: #a7abae;
  font-size: 4.1vw;
  letter-spacing: 1vw;
  margin: 16vw 0 0;
}

.profile-img {
  width: 70px;
  border-radius: 35px;
  margin-top: 16vw;
}

h5 {
  font-family: Fraunces Bold, serif;
  font-size: 5vw;
  color: #23303e;
  margin-bottom: 0;
}

.testimonials p {
  margin: 30px 0 0 0;
  line-height: 8vw;
  color: #5a636c;
}
.testimonials .profession {
  font-size: 4vw;
  color: #a7abae;
  margin-top: 5px;
}

.four-imgs {
  margin: 100px 0 0;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 50vw 50vw;
}
.four-imgs #milk {
  grid-column: 1/2;
  grid-row: 1/2;
}
.four-imgs #orange {
  grid-column: 2/3;
  grid-area: 1/2;
}
.four-imgs #cone {
  grid-column: 1/2;
  grid-row: 2/3;
}
.four-imgs #sugar {
  grid-column: 2/3;
  grid-row: 2/3;
}
.four-imgs img {
  width: 50vw;
}

footer {
  background-color: #94d1c4;
}
footer #green-logo {
  width: 45vw;
  margin: 50px 0;
}
footer .about {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw 0;
}
footer .about p {
  color: #458c7e;
}
footer .socials {
  padding: 80px 30vw;
  display: flex;
  justify-content: space-between;
}
footer .socials img {
  width: 5vw;
}

.attribution {
  background-color: #94d1c4;
  color: #458c7e;
  padding-bottom: 30px;
}
.attribution a {
  color: #2c7566;
}

@media only screen and (min-width: 769px) {
  .orange {
    width: 100vw;
    background-image: url(images/desktop/image-header.jpg);
    padding: 40px;
    height: 55.5vw;
  }
  .orange .desktop-header {
    display: flex;
    justify-content: space-between;
  }
  .orange .desktop-header .top-header {
    display: flex;
    justify-content: space-between;
  }
  .orange .desktop-header .top-header #sunnyside-logo {
    width: 180px;
  }
  .orange .desktop-header .top-header #menu-img {
    display: none;
  }
  .orange .desktop-header .menu-div {
    position: initial;
    width: initial;
  }
  .orange .desktop-header .menu-div .menu {
    position: inherit;
    background-color: initial;
    display: flex;
    flex-direction: row;
    width: initial;
    padding: 0;
  }
  .orange .desktop-header .menu-div .menu p {
    font-size: 16px;
    color: white;
    margin: 10px;
    padding: 0 13px;
    line-height: 30px;
  }
  .orange .desktop-header .menu-div .menu .contact {
    font-size: 16px;
    padding: 18px 10px;
    margin: 10px;
    width: 130px;
    background-color: white;
    border-radius: 28px;
  }
  .orange h1 {
    font-size: 50px;
    margin-bottom: 5vw;
  }

  .menu:after {
    display: none;
  }

  .transform {
    display: flex;
    flex-direction: row-reverse;
  }
  .transform .transform-text {
    box-sizing: border-box;
    width: 50vw;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    padding: 70px 150px 100px 200px;
  }
  .transform .transform-text h2 {
    padding-right: 20px;
  }
  .transform #egg {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 50vw;
  }

  .stand-out {
    display: grid;
  }
  .stand-out #stand-out {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 50vw;
  }
  .stand-out .stand-out-text {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .graphic-design {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .photography {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  h2 {
    font-size: 50px;
    padding: 0;
  }

  p {
    font-size: 22px;
    line-height: 38px;
    padding: 30px 0 0 0;
  }

  h3 {
    font-size: 19px;
    letter-spacing: 2px;
    margin: 50px 0 0 10px;
  }

  .underline {
    height: 8px;
    width: 150px;
    bottom: 8px;
    right: 7px;
    border: #fad400 solid 1px;
    border-radius: 4px;
  }
}

/*# sourceMappingURL=styles.css.map */
